include LICENSE
include README.md
include pyproject.toml
include setup.py
recursive-include scripts *.sh

recursive-include python/flydsl *.py
recursive-include python requirements.txt
recursive-include examples *.py
recursive-include tests *

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude build *
